body {
    background-color: honeydew;
}

div {
    margin: 10px;
}
section {
    margin: 10px;
}
h1 {
    text-align: center;
    margin: 15px;
    font-size: xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin-left: 2px;
}
p {
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
}
.github, .instagram, .email, .linkedin {
    font-size: 24px;
    margin: 10px;
}

button {
    display: flex;
    flex-direction: column; /* Adjust the flex direction to column if needed */
    justify-content: center;
    align-items: center;
    border: 3px solid green;
}

.icons button a {
    text-decoration: none;
}


