body {
    background-color: honeydew;
}

div {
    margin: 10px;
}

h1 {
    text-align: center;
}

section {
    margin: 10px;
}
ul {
    width: 300px;
    margin-top: 0px;
}
img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
}