<!DOCTYPE html>
<html lang="en">
<head>
    <title>Garv</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"> 
</head>
<body>
    <div>
    <h1>Welcome! 🐤 </h1>
    <p>Hi!👋 I am Garv 🐤, Currently Studying📚 Bachelor of Computer Science🧑‍💻.</p>
    <img src=https://i.pinimg.com/564x/b4/70/99/b47099c0bb2525f550fcea0de44ebd99.jpg>
    <div>
        <h3 class = "github">
            <a href="https://github.com/G4rv19">My github profile</a>
        </h3>
        <h3 class = "instagram">
            <a href="https://www.instagram.com/g4r.v?igsh=MWhsZGJmbDNueGQ0cw%3D%3D&utm_source=qr">My instagram</a>
        </h3>
        <h3 class = "email">
            <a href = "mailto: garvsidana29@gmail.com">Email Me </a>
        </h3>
    </div>
    </div>
</body>
</html>