<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Garv</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div>
        <h1>Welcome! 🐤 </h1>
        <section>
            <div>
                <img src="https://i.pinimg.com/564x/b4/70/99/b47099c0bb2525f550fcea0de44ebd99.jpg" alt="Profile Image">
            </div>
            <p>Hi!👋 I am Garv 🐤, Currently Studying📚 Bachelor of Computer Science🧑‍💻.</p>
        </section>
        <div class="Sociallinks">
            <h2>My social Links ~</h2>
            <div class="icons">
                <button class="github">
                    <a href="https://github.com/G4rv19"><i class="fa fa-github"></i></a>
                </button>
                <button class="instagram">
                    <a href="https://www.instagram.com/g4r.v?igsh=MWhsZGJmbDNueGQ0cw%3D%3D&utm_source=qr"><i class="fa fa-instagram"></i></a>
                </button>
                <button class="email">
                    <a href="mailto:garvsidana29@gmail.com"><i class="fa fa-envelope"></i></a>
                </button>
                <button class="linkedin">
                    <a href="https://www.linkedin.com/in/garv-174bb1257/"><i class="fa fa-linkedin"></i></a>
                </button>
            </div>
        </div>
    </div>
</body>
</html>
